*.swp
*~

config.json

node_modules

content/*
!content/authentication.json.example
!content/imageSizes.json

public/*
!public/js/basic.js
!public/js/connect.js

socketscripts/*
!socketscripts/aSocketScript.js.example

imagecache/*
