{
  "sitename": "Untitled",
  "port": 1000,
  "homesection": "Nieuws",
  "contentpath": "content/",
  "imageCacheLimit": 100,
	"mailgunSettings": {
		"domain": "user.mailgun.org",
		"key": "key-123456789",
		"defaultAddress": "no@bo.dy"
	}
}
