- if(!isAjax)
  doctype html
  html
    head
      title= info.title
      link(href='/css/basic.css', rel='stylesheet', data-hopcore="true")
      block header
    body
      block layout
      #defaultScripts
        span(data-backup="script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js', data-hopcore='true')")
        script(src='/js/lib/lazyload.js', data-hopcore='true')
        script(src='/js/lib/jquery-1.8.3.min.js', data-hopcore='true')
        script(src='/js/lib/transit.js', data-hopcore='true')
        script(src='/socket.io/socket.io.js', data-hopcore='true')
        script(src='/js/basic.js', data-hopcore='true')
      #scripts
        block footer
- else
  #data
    title= info.title
    #styles
      block header
    #content
      block content
    #scripts
      block footer