.hidden{
	display: none;
}

article img, section img{
	cursor: pointer;
}

figure{
	margin: 5px;
	display: inline-block;
}
figure.default{
	display: block;
	margin: 0 auto;
}

/* Lightbox */

.slideCaption{
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 3px black, 0px 1px 3px black, 1px 0px 3px black;
	padding: 10px 0;
}

.filmstrip div{
	cursor: pointer;
}

.filmstrip div.current {
	box-shadow: 0 0 10px white inset;
}

.goLeft, .goRight{
	width: 200px;
	height: 200px;
	opacity: 0.7;
	cursor: pointer;
	background-size: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.goLeft:hover, .goRight:hover{
	opacity: 1;
}

.goLeft{
	background-image: url('/img/chevronLeft.png');
}

.goRight{
	background-image: url('/img/chevronRight.png');
}

.loader{
	background-image: url('/img/white_horizontal_loading.gif');
	width: 32px;
	height: 32px;
}

.intents img{
	cursor: pointer;
}

@media(-webkit-min-device-pixel-ratio: 2){
	.goLeft{ background-image: url('/img/chevronLeftRet.png'); }
	.goRight{ background-image: url('/img/chevronRightRet.png'); }
}

/* end Lightbox */